<!DOCTYPE html> 
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    
<!-- jQuery library -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>

<!-- Popper JS -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    
    <link rel="stylesheet" href="css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
<!-- Linking BoxIcon for Icon -->
    <link
      href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
      rel="stylesheet"
    />

    <!-- favicon -->
    <link rel="icon" href="icons/favicon.svg" />
    <title>Weather Web App</title>
  </head>
  <body>
      <div class="container-fluid main_menu">
        <div class="row">
          <div class="col-md-10 col-12 mx-auto">
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" href="/login">Login /</a>
                <a class="navbar-brand" href="/registration">Sign up </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="/index">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/weather">Weather</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                  </li>
                 
                </ul>
              </div>
            </nav>
      </div>
      </div>
      </div>
  

    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            
            <div class="col-md-6 col-12 main_header_right align-items-center">
              <figure>
                <img src="images/identity1.jpg" alt="abhay" class="img-fluid">
              </figure>
            </div>
            <div class="col-md-6 col-12 main_header_left">
                <p>Welcome to weather App</p>
                <h1>I am a <span class="text">Backend developer</span> and freelancer.</h1>
                <a href="/about"><button>About me</button></a>
              </div>
          </div>
        </div>
      </div>
    </div>

    <script src="js/script.js"></script>
    <script src="js/api_key.js"></script>
    <footer>
      <p> created with HTML,CSS,Javascript,nodejs,expressjs </p>
    </footer>
  </body>
</html>
